@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.transition-container {
    z-index: 200;
    position: fixed;
    inset: 0%;
    overflow: hidden;
    visibility: hidden;
}

.transition-screen {
    background-color: #000000;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.transition-scribble {
    color: #4b69f0;
    width: 120%;
    height: 120%;
    display: block;
    position: absolute;
    top: -5.5%;
    left: -12%;
}

.transition-scribble {
    width: 140%;
    left: -22%;
}